$matdivider: #000080;
$logofont: 'Dancing Script', cursive;
$menufont: 'Josefin Sans', sans-serif;



// $light-gray: #d8d8d8;
// $gray: #8b8e8d;

// $focus-color: #02abdc;
// $focus-hover-color: #00c7ff;
// $focus-color-light: #62ddff;
// $primary-button-color: #1c3651;
// $disabled-button-color: $gray;
// $text-marks-color: #007caa;
// $main-text-color: #171717;
// $footer-background: #00101f;
// $basic-label-color: #496c96;
// $disable-button-icon-color: #48607d;

// $basic-back-color: #164168;
// $basic-back-hover-color: #165896;
// $dark-form-label-color: #7ca7dd;
// $dark-form-button-color: #4b87d1;

// $basic-background-hover-color: #effbff;
// $card-background-color: #f1f4f7;
// $disabled-button-background: #f1f1f1;
// $disabled-background: $light-gray;
// $disabled-color: $gray;

// $transparent-background: #00131933;

// $error-text: #db2523;
// $error-background: #fbe9e9;
// $error-text-active: #db4b4a;
// $error-background: #fbe9e9;
// $success-text: #5bb514;

// $break-tablet: '1024px';
// $break-phone: '1024px';
// $break-lg: '992px';
// $break-md: '768px';
// $break-sm: '576px';
// $break-xs: '322px';

// $defaultTransition: all 0.3s ease;